@{
    ViewData["Title"] = "Amiel Home Page";
}

<div></div>

<div class="text-center">
    <a asp-controller="Volunteer" asp-action="Index" class="btn btn-primary">Volunteers</a>
    <a asp-controller="Opportunity" asp-action="Index" class="btn btn-primary">Opportunities</a>
</div>
